body {
    background: #22223B;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

header {
    background: #4A4E69;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    /*Pseudoclase*/
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #83C5BE;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #FFFFFF;
    background-color: #006D77;
    font-weight: 700;
}


/* main contenido principal */

main {
    width: 100%;
}

figcaption {
    padding: 4px;
}

figure {
    margin: 0;
}

.item:hover {
    box-shadow: 0 0 50px #333;
}


/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */

.responsive li {
    display: block;
}


/* Media Query for medium + screens */

@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        color: #000;
    }
}

@media screen and (max-width:700px) {
    body {
        font-size: 14px;
        background: #000;
    }
    main {
        width: 100%;
    }
    aside {
        width: 100%;
    }
}

@media screen and (max-width:350px) {
    .imgSesion {
        display: none;
    }
    aside {
        display: none;
    }
    .boxS {
        display: none;
    }
}

.tituloP {
    color: #83C5BE;
    text-align: center;
    margin: 2%;
    padding: 1%;
}

.contV {
    margin: 1%;
    padding: 1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contV p {
    width: 50%;
    margin: 1%;
    padding: 1%;
    text-align: justify;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 1em;
}

.titulo2 {
    width: 100%;
    margin: 1%;
    padding: 1%;
}

.titulo2 h2 {
    margin: 1%;
    padding: 1%;
    text-align: left;
    color: #9ef01a;
}

.titulo2 p,
ul {
    margin: 1%;
    padding: 1%;
    text-align: justify;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 1em;
}

.conte2 {
    width: 100%;
    margin: 1%;
    display: flex;
    justify-content: space-between;
}

.conte2 img {
    width: 470px;
    height: 450px;
    float: right;
    text-align: right;
    border-radius: 20px;
}

.conte2 p {
    margin: 2%;
    text-align: justify;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 1em;
}

.conte3 {
    width: 100%;
    margin: 1%;
    padding: 1%;
}

.conte3 h2 {
    text-align: left;
    color: #9ef01a;
}

.conte3 p {
    margin: 2%;
    text-align: justify;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 1em;
}

.conclusiones {
    width: 100%;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.conclusiones h2 {
    text-align: center;
    color: #9ef01a;
}

.conclusiones p {
    margin: 2%;
    text-align: justify;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 1em;
}

.conclusiones img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    border-radius: 20px;
}

.conclusiones h3 {
    color: #00a896;
    text-align: center;
}

aside {
    background: #000;
    width: 100%;
    float: left;
    line-height: 20px;
    border-radius: 20px;
}

.contSe h3 {
    /*margin: 25px 0 0 25px;*/
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #005f73;
}

.enlaces {
    list-style: none;
    padding: 15px;
}

.enlaces li a {
    text-decoration: none;
    padding: 15px;
    color: #e9d8a6;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.enlaces li a:hover {
    background: #ee9b00;
    color: #000;
}

.pie-pagina {
    width: 100%;
    background-color: #e66108;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.box img {
    width: 25%;
    height: 25%;
    margin: 1%;
    float: left;
    border-radius: 20%;
}

.boxS {
    width: 30%;
    margin: 2%;
    float: right;
}

.boxS h2,
p {
    text-align: right;
    font-size: 20px;
    float: right;
}

.boxSiguenos {
    width: 100%;
    margin: 2%;
    float: inline-start;
    text-align: center;
}

.boxSiguenos h2 {
    text-align: center;
    font-size: 20px;
}

.red-social {
    text-align: center;
}

@media screen and (max-width:300px) {
    .pie-pagina .grupo-1 {
        width: 100%;
    }
}