* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Courier New', Courier, monospace;
}
.container{
    max-width: 600px;
    margin: auto;
    font-size: 18px;
    padding: 20px;
}
.container p{
    margin-bottom: 10px;
}

header{
    height: 32%;
    background: #5fc5d3;
    display: flex;
    padding: 0 20px;
}


    .menu-toggle{

        
        margin-left: auto;
        color: rgb(65, 106, 129);
        line-height: 60px;
        font-size: 25px;
        cursor: pointer;
      
    }
    .logo a{
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        line-height: 60px;
        text-transform: uppercase;
        font-family: 'Trade Winds', cursive;
       }
    #menu{
        margin-left: auto;
    }

#menu ul li{
    display: inline-block;
}
#menu ul li a{
display: inline-block;
position: relative;
color: #fff;
text-decoration: none;
line-height: 60px;
padding: S 8px;
text-transform: uppercase;
transition: .2s;

}

#menu ul li a:hover{
   background: #31909c; 
}

/*JAVASCRIP */
.show{
    height: 305px !important;
}
@media screen and (max-width:700px){
     .menu-toggle{
           display: block;}
           
           #menu{
            background: #7272e0;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            height: 0;
            border: 1px solid #eee;
            overflow: hidden;
            transition: .3s ease-out;                          
        }

        #menu ul li{
            display: block;
            text-align: center;}

          #menu ul li a{
            color: #fff;
            font-size: 20px;
            border-bottom: 1px solid #5f5fd3;
            width: 100%;
        }
        #menu ul li a:hover{
            background: #5959b8;}

          .container{
            padding: 10px; }

    }
    h1{  font-family: 'Trade Winds', cursive;
        background-color: #76e6f5;
        border-color: black;
        
    }
h3{
    font-family: 'Share Tech Mono', monospace;
    background-color: #76e6f5;
    text-align: center;
}
.video1{
    background-color: rgba(42, 115, 179, 0.618);
    text-align: center;
    }
    .video2{
     text-align: center;
      background-color: rgba(42, 115, 179, 0.618);
    }
    main p{
        background-color: #35b5ae;
        font-family: 'Share Tech Mono', monospace;
    }
